.ranking {
	max-width: 580px;
	margin: 0 auto;
	padding: 1rem 1rem;
	overflow-x: hidden;
	h4 {
		margin-bottom: 2rem;
		font-size: 2rem;
		color: $text-color;
		text-align: center;
		font-family: cursive;
	}
	img {
		width: 40px;
		height: 40px;
		object-fit: cover;
	}
	.card-player {
		// border: 1px black solid;
		margin-bottom: 0.8rem;
		padding: 0.3rem 0;
		display: flex;
		box-shadow: 0px 0px 4px 0px $primary;
		border-radius: 10px;
		justify-content: space-between;
		align-items: center;
		.card-player__data {
			padding: 0.3rem 1rem;
			gap: 1rem;
			display: flex;

			align-items: center;
			.img-null {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 1.5px $secondary solid;
				font-weight: bold;
				font-size: 1.3rem;
			}
			.content-alias-name {
				.alias {
					font-size: 1.5rem;
					font-weight: bold;
					color: $text-color;
				}
				.name {
					color: $text-color;
					@media (max-width: 600px) {
						font-size: 0.8rem;
					}
				}
			}
		}

		.card-player__score {
			padding-right: 1rem;
			span {
				font-size: 1rem;
				font-weight: bold;
				color: $text-color;
			}
		}
	}
	.content-button {
		margin-top: 2rem;
		display: flex;
		gap: 1.5rem;

		img {
			width: 24px;
			height: 24px;
			object-fit: cover;
		}
		@media (max-width: 600px) {
			flex-direction: column-reverse;
			gap: 1rem;
		}
	}
}
