.container {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	// justify-content: center;
	padding-top: 1rem;
	align-items: center;
	max-width: 500px;
	margin: 0 auto;
	// background-color: #22333b;
	// border: 1px solid black
	h2 {
		color: $text-color;
	}
	.game-rules {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 0.5rem;
		cursor: pointer;
		font-size: 1rem;
		margin-top: 0.8rem;
		font-family: cursive;
		font-weight: bolder;
		&:hover {
			color: $secondary;
		}
		@media (max-width: 600px) {
			font-size: 0.85rem;
		}
	}
	.container__options {
		margin: 1rem 0;
		border: 0.15rem solid $primary; //Creas el borde
		width: 100%;
		padding: 1rem 2rem;
		h4 {
			font-size: 1.3rem;
			margin-bottom: 0.4rem;
			color: #1a1919;
		}

		.option {
			margin: 1rem 0;
			display: flex;
			gap: 1rem;
			label {
				font-size: 0.8rem;
				color: rgb(37, 36, 36);
			}
			select {
				margin-top: 0.3rem;
				width: 90%;
				padding: 0.2rem 1rem;
				cursor: pointer;
			}
			fieldset {
				width: 100%;
				padding: 0.5rem;
				legend {
					padding: 0 0.2rem;
				}
			}
			.option-default {
				padding: 0;
				display: flex;
				align-items: center;
				p {
					font-size: 0.8rem;
					color: rgb(37, 36, 36);
				}
				div {
					font-weight: bold;
					margin-left: 1rem;
				}
				input[type='checkbox'] {
					margin-left: 0.4rem;
				}
			}

			@media (max-width: 600px) {
				flex-direction: column;
			}
		}
	}
}

.container__score-board {
	margin: 2rem 0;
	border: 0.15rem solid $secondary; //Creas el borde
	width: 100%;
	padding: 1rem 2rem;
	h4 {
		font-size: 1.3rem;
		margin-bottom: 0.4rem;
		color: #1a1919;
	}
	.container-winner {
		margin-top: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
	p.winner {
		font-weight: 600;
		font-size: 1rem;
		text-align: center;
		color: $secondary;
	}
	.option {
		margin-top: 1rem;
		display: flex;
		gap: 1rem;

		.fieldset-1,
		.fieldset-2 {
			width: 100%;
			padding: 0.5rem;
			legend {
				padding: 0 0.2rem;
			}
		}

		div {
			display: flex;
			align-items: flex-end;
			justify-content: center;
			.score-1,
			.score-2 {
				font-weight: 700;
				font-size: 1.8rem;
				color: $primary;
			}
			.score-2 {
				color: $secondary;
			}
			.pts {
				font-style: oblique;
				font-size: 0.75rem;
			}
		}

		@media (max-width: 600px) {
			flex-direction: column;
		}
	}
	.container-btns {
		display: flex;
		justify-content: center;
		margin: 1rem 0;
		gap: 1rem;
		@media (max-width: 600px) {
			flex-direction: column-reverse;
		}
	}
}
// .board {
// 	display: grid;
// 	grid-template-columns: repeat(3, 1fr);
// 	grid-gap: 0.15rem;
// 	max-width: 340px;
// }

// .board__item {
// 	border: 1px solid black;
// 	height: 113px;
// 	cursor: pointer;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// }

.score-board {
	width: 320px;
	display: grid;
	grid-auto-flow: column;
	margin-top: 5px;
}

.score-board div {
	color: white;
	text-align: center;
	font-size: 2em;
	padding: 5px;
	font-weight: bold;
	background-color: #4392f1;
}

.score-board div:first-child {
	background-color: #cd493a;
}

.square {
	width: 100px;
	height: 100px;
	background-color: #848484;
	margin: 5px;
	transition: all 0.2s;
	cursor: pointer;
	border-radius: 0%;
	clip-path: polygon(
		36% 0,
		0 0,
		0 29%,
		0 57%,
		0 100%,
		30% 100%,
		73% 100%,
		100% 100%,
		100% 59%,
		100% 31%,
		100% 0,
		74% 0
	);
}
.board {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
}
.square--X {
	background-color: #cd493a;
	clip-path: polygon(
		20% 0%,
		0% 20%,
		30% 50%,
		0% 80%,
		20% 100%,
		50% 70%,
		80% 100%,
		100% 80%,
		70% 50%,
		100% 20%,
		80% 0%,
		50% 30%
	);
}

.square--O {
	background-color: #4392f1;
	border-radius: 50%;
}

.square--X.winner {
	animation: x-winner-animation infinite 2s ease-in-out;
}

.square--O.winner {
	animation: o-winner-animation infinite 0.5s ease-in-out;
}

@keyframes x-winner-animation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes o-winner-animation {
	0% {
		border-radius: 50%;
	}
	50% {
		border-radius: 0%;
	}
	100% {
		border-radius: 50%;
	}
}

.msg-play-rules {
	text-align: start !important;
	color: $text-color !important;
	.criteria-title {
		margin-top: 1.5rem !important;
	}

	.list-rules {
		margin-top: 0.3rem;
		font-size: 0.9rem !important;
		margin-top: 0.5rem !important;
		span {
			font-weight: bold !important;
			font-size: 1rem;
		}
		li {
			margin-top: 0.5rem;
		}
	}
}
