.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #22333b;
}

// .board {
// 	display: grid;
// 	grid-template-columns: repeat(3, 1fr);
// 	grid-gap: 0.15rem;
// 	max-width: 340px;
// }

// .board__item {
// 	border: 1px solid black;
// 	height: 113px;
// 	cursor: pointer;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// }

.score-board {
	width: 320px;
	display: grid;
	grid-auto-flow: column;
	margin-top: 5px;
}

.score-board div {
	color: white;
	text-align: center;
	font-size: 2em;
	padding: 5px;
	font-weight: bold;
	background-color: #4392f1;
}

.score-board div:first-child {
	background-color: #cd493a;
}

.square {
	width: 100px;
	height: 100px;
	background-color: #848484;
	margin: 5px;
	transition: all 0.2s;
	cursor: pointer;
	border-radius: 0%;
	clip-path: polygon(
		36% 0,
		0 0,
		0 29%,
		0 57%,
		0 100%,
		30% 100%,
		73% 100%,
		100% 100%,
		100% 59%,
		100% 31%,
		100% 0,
		74% 0
	);
}
.board {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
}
.square--X {
	background-color: #cd493a;
	clip-path: polygon(
		20% 0%,
		0% 20%,
		30% 50%,
		0% 80%,
		20% 100%,
		50% 70%,
		80% 100%,
		100% 80%,
		70% 50%,
		100% 20%,
		80% 0%,
		50% 30%
	);
}

.square--O {
	background-color: #4392f1;
	border-radius: 50%;
}

.square--X.winner {
	animation: x-winner-animation infinite 2s ease-in-out;
}

.square--O.winner {
	animation: o-winner-animation infinite 0.5s ease-in-out;
}

@keyframes x-winner-animation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes o-winner-animation {
	0% {
		border-radius: 50%;
	}
	50% {
		border-radius: 0%;
	}
	100% {
		border-radius: 50%;
	}
}
