* {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	background: #edf7f6;
}

main {
	width: 100%;
}

.mt-1 {
	margin-top: 5px;
}
.mt-2 {
	margin-top: 10px;
}
.mt-5 {
	margin-top: 20px;
}

.mb-1 {
	margin-bottom: 5px;
}

.mb-5 {
	margin-bottom: 20px;
}

.pointer {
	cursor: pointer;
}
